<div class="apps">
    <div class="info-w">
        <div class="info __responsive">
            <div class="info-ico"></div>
            <div class="info-descr">{{ 'apps.category.contact_us_slogan' | t }}</div>
            <a class="btn __large __round __red __ucase" ng-click="showBecomeADeveloperForm()">{{ 'apps.category.become_a_developer' | t }}</a>
        </div>
    </div>

    {% for product in collections['featured'].products limit: 5 %}
        <div class="items __responsive">
            <div class="title-w">
                <h2 class="t">{{ collections['featured'].title }}</h2>
            </div>
            <div class="list __items __inline">
                <ul class="main">
	               {% assign products = collection.products %}

                   {% for product in products %}
                        {% include 'grid-item' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

    {% for product in collection.products limit: 5 %}
        <div class="items __responsive">
            <div class="title-w">
                <h2 class="t">{{ 'apps.category.new_extensions' | t }}</h2>
            </div>
            <div class="list __items __inline">
                <ul class="main">
	               {% assign products = collection.products %}

                   {% for product in products %}
                        {% include 'grid-item' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>