<div class="posts __responsive">
    <div class="cnt">
        {% include 'breadcrumb' %}
        <div class="post">
            <h1 class="head-title">{{ article.title }}</h1>
            <div class="post-cnt">
                {% if article.tags.size > 0 %}
                {% include 'article-tags-list' %}
                {% endif %}
                <div class="text-light">
                    Posted by <span class="author">{{ article.author }}</span> on <span class="date">{{ article.created_at | date: 'month_day_year' }}</span>
                </div>
                <div class="text">
                    {{ article.content }}
                </div>
            </div>
            <div class="post-soc">
                {% include 'share-post-menu' %}
            </div>
            {% if settings.disqus_site.size > 0 %}
            <div class="post-comments">
                {% include 'disqus' %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar">
        {% include 'blog-sidebar' %}
    </div>
</div>