<div class="blog" itemtype="http://schema.org/Blog" itemscope ng-controller="blogController">
    <div class="posts __responsive" itemprop="blogPosts">
        {% assign page_size = 9 %}

        {% include 'blog-categories-item', categories: blog.categories %}

        {% assign sticked_article = blog.articles | where: "IsSticked", "==", "true" | first %}
        {% if sticked_article == nil %}
            {% assign sticked_article = blog.articles | first %}
        {% endif %}
        {% include 'blog-list-item', article: sticked_article, style: "double" %}

        {% assign first_page_articles = blog.articles | where: "Handle", "!=", sticked_article.handle %}
        {% for article in first_page_articles limit: page_size %}
            {% include 'blog-list-item', article: article, style: "single" %}
        {% endfor %}
    </div>
    <div class="posts __responsive" ng-if="articles || articles.length">
        {% include 'blog-list-item-js' %}
    </div>
    {% if first_page_articles.size > page_size %}
        <div class="more __responsive" ng-if="!isLastPage">
            <a class="button fill" ng-class="{ 'loading': isLoading }" ng-click="getArticles(pageNumber, {{ page_size }})">Older</a>
        </div>
    {% endif %}
    {% assign trending_articles = blog.articles | where: "IsTrending", "==", "true" %}
    {{ trending_articles.size }}
    {% if trending_articles %}
        {% include 'blog-trending-list', articles: trending_articles %}
    {% endif %}
</div>
<script>
    window.blogName = '{{ blog.handle }}';
    window.baseUrl = '{{ "/" | full_url }}';
</script>