<div class="apps">
    {% if collection.handle == 'apps' %}
        {% assign is_main_page = true %}
    {% else %}
        {% assign is_main_page = false %}
    {% endif %}

    {% include 'apps-menu' %}

    {% if is_main_page == false %}
        {% include 'breadcrumb' %}
    {% endif %}

    {% paginate collection.products by 15 %}
    <div class="items __responsive">
            <div class="title-w">
                {% if is_main_page %}
                    <h2 class="t">{{ 'apps.category.new_extensions' | t }}</h2>
                {% else %}
                    <h2 class="t">{{ collection.title }}</h2>
                {% endif %}
            </div>
            <div class="list __items __inline">
                <ul class="main">
                    {% if is_main_page %}
                        {% assign products = collection.products %}
                    {% else %}
                        {% assign products = collection.products | sort: 'title' %}
                    {% endif %}

                    {% for product in products %}
                        {% include 'grid-item' %}
                    {% endfor %}
                </ul>
            </div>
            {% if paginate.pages > 1 %}
                <div class="text-center">
                    {% include 'pagination-custom' %}
                </div>
            {% endif %}
        </div>
    {% endpaginate %}

    {% if is_main_page %}
        <div class="info-w">
            <div class="info __responsive">
                <div class="info-ico"></div>
                <div class="info-descr">{{ 'apps.category.contact_us_slogan' | t }}</div>
                <a class="btn __large __round __red __ucase" ng-click="showBecomeADeveloperForm()">{{ 'apps.category.become_a_developer' | t }}</a>
            </div>
        </div>
    {% endif %}
</div>