<div class="apps">
    {% include 'apps-menu' %}
    {% if collection.handle == 'apps' %}
        {% include 'appstore.home' %}
    {% else %}
        {% include 'appstore.category' %}
    {% endif %}
</div>