<div ng-controller="accountController" class="roadmap responsive">
    <h1 style="margin-left: 18px;" class="head-title">{{ 'customer.recover_password.title' | t }}</h1>
        <div class="column">
            <div class="block">

                {% if form.posted_successfully %}
                <div class="note form-success" id="resetSuccess">
                    {{ 'customer.recover_password.reset_password_success' | t }}
                </div>

                {% else %}
                <div id="recover_password">
                    {% form 'recover_customer_password' %}
                    {% include 'form-errors-custom' %}
                    <div class="control-group">
                        <span>
                            <input type="email" value="" class="form-input" name="email" id="recover-email" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                        </span>
                        <p>
                            <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
                        </p>
                    </div>
                    {% endform %}
                </div>

                {% endif %}
            </div>
        </div>
</div>
