<div class="roadmap __responsive" style="text-align:center;">
    <h1 class="head-title">Didn't get your activation email?</h1>
    <p class="text">Checked your junk folder? Double-checked which email address you entered? <br/>
        Refreshed your inbox? If the activation email is still MIA, resend below.</p>
    <div class="columns">
        <div id="recover_password">
            {% form 'register_by_invite_again' %}
            {% include 'form-errors-custom' %}
            <div style="padding-bottom: 20px;" class="control-group">
                <input style="width: 400px;" type="email" tabindex="1" value="" class="form-input" name="email" id="recover-email" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                <p>
                    <input style="width: 400px;" type="submit" class="button fill no-transparent" tabindex="2" value="Resend Activation Email" />
                </p>
            </div>

            {% endform %}
        </div>
    </div>
</div>
{{ '//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js' | script_tag }}
{{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js' | script_tag }}
<script type="text/javascript">
    $(function () {
        //custom validation
        $('form#register_by_invite').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
            },
            errorElement: "p",
            messages: {
                email: "Please enter your Email Address",
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
