<div ng-controller="accountController" class="roadmap responsive">
    <h1 style="margin-left: 80px;" class="head-title">Log in to account</h1>
    <div class="columns">
        <div style="bottom: 20px; position: relative;" class="column">
            <div class="block">
                <div style="width:500px;">
                    <a class="btn btn-default btn-lg btn-block" href="account/externallogin?authType=GitHub&returnUrl=/vc-community"><i class="fa fa-github"></i> Log in with GitHub</a>
                    <!--<a class="btn btn-default btn-lg btn-block" href="account/externallogin?authType=StackExchange&returnUrl=/vccom/vc-community"><i class="fa fa-stack-overflow"></i> Log in with StackExchange</a>-->
                </div>
                <p align="center">&mdash; OR &mdash;</p>
                <form name="loginForm" method="post">
                    <input type="hidden" name="Contact[Subject]" value="Contact Partner" />
                    <input type="hidden" name="Contact[RedirectUrl]" value='~/thank-you-contact-partner' />
                    <input style="display: none" name="Contact[PartnerId]" value="" />
                    <div class="control-group">
                        <input ng-model="user.user_name" class="form-input" style="width:500px;" type="text" value="" name="customer[user_name]" id="customer_user_name" placeholder="User Name" autocorrect="off" autocapitalize="off" autofocus ng-required="user.user_name" />
                    </div>
                    <div class="control-group">
                        <input ng-model="user.password" class="form-input" style="width:500px;" type="password" value="" name="customer[password]" id="customer_password" placeholder="Password" ng-required="user.password" />
                    </div>
                    <div position: relative;" class="control-group">
                        <button class="button fill" ng-required="loginForm.$valid" style="width:500px;">Log in</button>
                    </div>
                </form>
                <div class="" align="center" >
                    <a href="account/register">Register</a>
                    <span> | </span>
                    <a href="account/forgotpassword">Forgot your password?</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="block">
                <h3>Frequently asked questions</h3>
                <ul class="list">
                    <li>
                        <span class="title">When will I get reply from a partner?</span>
                        <span class="descr">
                            You should get reply from a partner within a business day. Please be aware of partner timezone. If
                            you don't get any reply within a day, please email us at sales@virtocommerce.com and will make sure you get questions answered.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
