<div class="roadmap __responsive" style="text-align:center; padding-bottom: 40px;">
    <h1 class="head-title">Password has been reset</h1>
    <div class="columns">
        <div class="block">
            <div class="column">
                <p>Please {{ 'click here to log in' | customer_login_link }}</p>
            </div>
        </div>
    </div>
</div>

