body
{
	background: #fff;
    color: #333;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

h1,
h2,
h3
{
	font-weight: normal;
	line-height: 1.4;
	margin: 20px 0 10px;
}

h1
{
	font-size: 36px;
	margin: 0 0 20px;
	padding: 0 0 10px 10px;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 18px;
}

h2,
h3
{
	margin: 30px 0 10px;
}

/*h2:first-child,
h3:first-child
{
	margin: 0;
}*/

p + p
{
	margin: 20px 0 0;
}

em
{
	color: #999;
	font-size: 14px;
}

p em,
li em,
ol em
{
	color: inherit;
}

a
{
	color: #43b0e6;
}

a:hover
{
	color: #ea5564;
}

.docs {
	display: flex;
	min-height: 1000px;
}

.docs .docs-column {
	margin: 0 0 -30px;
	min-width: 300px;
	width: 300px;
}

.docs .docs-column.docs-content {
	flex-grow: 1;
}

.docs ul,
.docs ol
{
	list-style: none;
	margin: 10px 0 20px;
}

.docs ul li,
.docs ol li
{
	padding: 0 0 0 15px;
	position: relative;
}

.docs ul li::before
{
	background: #666;
	content: ' ';
	height: 5px;
	left: 0;
	position: absolute;
	top: 8px;
	width: 5px;
}

.docs ul ul
{
	margin: 0;
}

.docs ol
{
	list-style: outside decimal;
}

.docs ol li
{
	padding: 0;
}

.cnt ul,
.cnt p,
.cnt h2,
.cnt h3
{
	padding-left: 10px;
}

.cnt table
{
	margin: 20px 0 20px 10px;
}

.cnt ol
{
	margin: 10px 0 20px 25px;
	padding: 0 0 0 10px;
}

.links li
{
	margin: 5px 0;
	padding: 0;
}

.links li::before
{
	display: none;
}

.links li i
{
	margin: 0 5px 0 0;
	padding: 0;
}

img
{
	display: block;
	margin: 20px 0;
	max-width: 100%;
}

code
{
	background: #eee;
	border: 1px solid #e2e2e2;
	display: block;
	margin: 20px 0;
	overflow-x: scroll;
	padding: 20px 10px;
	text-align: left;
}

blockquote {
	background: #f6f6f6;
	border: 1px solid #ddd;
	margin: 20px 0;
	padding: 20px;
}
blockquote::before {
	content: "Note";
	font-size: 20px;
	margin-bottom: 22px;
	margin-left: 10px;
}

hr {
	background-color: #ddd;
	border: none;
	color: #ddd;
	height: 1px;
	margin: 20px 0;
}

table
{
	border-collapse: collapse;
}

table th,
table td
{
	border: 1px solid #ddd;
	font-size: 14px;
	padding: 7px 10px;
	text-align: left;
	vertical-align: top;
}

table th
{
	background: #f0f0f0;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	border-left: 1px solid #414141;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #353535;
	position: relative;
}

.jspDrag
{
	background: #555;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

.note
{
	background: #f6f6f6;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
	margin: 20px 0;
	padding: 10px 10px 10px 40px;
	position: relative;
}

.note::after
{
	border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    content: "i";
    font-family: Lucida Console;
    height: 20px;
    left: 10px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 20px;
}

#layout
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 100%;
}

.nav
{
	background: #434343;
	bottom: 0;
	margin: 0 0 -30px;
	min-width: 300px;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 300px;
}
.nav.not-fixed {
	bottom: 0;
	position: absolute;
	top: auto;
}

.scroll-pane
{
	height: calc(100% - 142px);
	position: relative;
}
	
	.nav .vc-logo,
	.nav .vc-logo a
	{
		color: #fff;
		font-size: 16px;
		padding: 20px 15px;
		text-decoration: none;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		-webkit-align-items: center;
				align-items: center;
	}

	.nav .vc-logo img
	{
		margin: 0 10px 0 0;
		width: 80px;
	}

	.nav .menu
	{
		margin: 0;
		padding: 20px 0;
		text-align: left;
	}

	.nav .menu-item
	{
		padding: 0;
	}

	.nav .menu-item::before
	{
		display: none;
	}

	.nav .menu-link
	{
		color: #bbb;
		display: block;
		font-family: "PT Sans", sans-serif;
		font-size: 13px;
		font-weight: normal;
		padding: 8px 40px;
		text-decoration: none;
		text-transform: none;
	}

	.nav .menu-link.expandable {
		padding-left: 30px;
		position: relative;
	}

	.nav .menu-ico {
		font-size: 16px;
		left: 15px;
		position: absolute;
		margin-right: 5px;
		top: 8px;
	}

	.nav .menu-link::after {
		display: none;
	}

	.nav .menu-link:hover
	{
		background: rgba(0,0,0,.1);
		color: #fff;
	}

	.nav .menu-item.active > .menu-link
	{
		background: #ea5564;
		color: #fff;
	}

	.menu.__sub
	{
		padding: 0;
	}

	.menu.__sub .menu-link
	{
		padding-left: 55px;
	}
	.menu.__sub .menu-link .menu-ico {
		left: 30px;
	}

	.menu.__sub .menu.__sub .menu-link
	{
		padding-left: 70px;
	}
	.menu.__sub .menu.__sub .menu-link .menu-ico {
		left: 45px;
	}

	.menu.__sub .menu.__sub .menu.__sub .menu-link
	{
		padding-left: 85px;
	}
	.menu.__sub .menu.__sub .menu.__sub .menu-link .menu-ico {
		left: 60px;
	}

	.menu.__sub .menu.__sub .menu.__sub .menu.__sub .menu-link
	{
		padding-left: 100px;
	}
	.menu.__sub .menu.__sub .menu.__sub .menu.__sub .menu-link .menu-ico {
		left: 75px;
	}

	.menu.__sub .menu.__sub .menu.__sub .menu.__sub .menu.__sub .menu-link
	{
		padding-left: 115px;
	}
	.menu.__sub .menu.__sub .menu.__sub .menu.__sub .menu.__sub .menu-link .menu-ico {
		left: 90px;
	}

.cnt
{
	background: #fff;
	flex-grow: 1;
	line-height: 24px;
	padding: 0 40px 20px;
}

.cnt .contributors {
	border-bottom: 1px solid #ddd;
	margin-top: -10px;
	overflow: hidden;
	padding: 0 0 25px 10px;
	position: relative;
}

.cnt .contributors .author-bio {
	float: left;
}

.cnt .contributors .author-content {
	display: inline-block;
	margin-left: 6px;
}

.cnt .contributors .edit-on-github {
	float: right;
	font-weight: 600;
	text-align: right;
}

.cnt .contributors .author-bio .author-img {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 36px;
	margin-top: 10px;
	width: 36px;
}

.cnt .breadcrumbs {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0 0 10px;
}

.cnt .breadcrumbs span {
	white-space: nowrap;
}

.home
{
	height: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
			flex-direction: column;

	-webkit-justify-content: center;
			justify-content: center;

	-webkit-align-items: center;
			align-items: center;
}

.home .home-t
{
	font-size: 30px;
}

.home .menu
{
	list-style: none;
	margin: 30px 0;
	padding: 0;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.home .menu-item
{
	height: 300px;
	margin: 0 10px;
	padding: 0;
	width: 300px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.home .menu-link
{
	background: #fff;
	border: 2px solid #dee9f0;
	font-size: 30px;
	text-decoration: none;

	-webkit-transition: border .25s ease-in-out;
			transition: border .25s ease-in-out;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-justify-content: center;
			justify-content: center;

	-webkit-align-items: center;
			align-items: center;

	-webkit-flex-grow: 1;
			flex-grow: 1;
}

.home .menu-link:hover
{
	border-color: #a1c0d4;
}

.home .menu-item::before
{
	display: none;
}

form.search {
	padding: 20px;
	text-align: center;
}
form.search input {
	height: 30px;
	padding: 5px;
	width: 100%;
}

@media (min-width: 768px) and (max-width: 1019px) {
	h1
	{
		font-size: 28px;
	}

	h2
	{
		font-size: 20px;
	}

	.docs .docs-column:not(.docs-content)
	{
		display: none;
	}

	.docs .docs-column.docs-content
	{
		padding: 30px 0 0;
	}
}

@media (max-width: 767px) {
	h1
	{
		font-size: 26px;
	}

	h2
	{
		font-size: 18px;
	}

	h3
	{
		font-size: 16px;
	}

	.docs .docs-column:not(.docs-content)
	{
		display: none;
	}

	.docs .docs-column.docs-content
	{
		padding: 30px 0 0;
	}
}

@media (max-width: 480px) {
	h1
	{
		font-size: 24px;
	}

	h2
	{
		font-size: 16px;
	}

	h3
	{
		font-size: 14px;
	}

	.cnt .contributors .edit-on-github
	{
		float: left;
	}
}