html,
body
{
	height: 100%;
}

body
{
	background: #fff;
    color: #333;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

*
{
	margin: 0;
	padding: 0;
}

h1,
h2,
h3
{
	font-weight: normal;
	margin: 20px 0 10px;
}

h1
{
	border-bottom: 1px solid #ddd;
	font-size: 36px;
	margin: 0 0 20px;
	padding: 0 0 10px 10px;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 18px;
}

h2,
h3
{
	margin: 30px 0 10px;
}

h2:first-child,
h3:first-child
{
	margin: 0;
}

p + p
{
	margin: 20px 0 0;
}

em
{
	color: #999;
	font-size: 14px;
}

p em,
li em,
ol em
{
	color: inherit;
}

a
{
	color: #43b0e6;
}

a:hover
{
	color: #ea5564;
}

ul,
ol
{
	list-style: none;
	margin: 10px 0 20px;
}

ul li,
ol li
{
	padding: 0 0 0 15px;
	position: relative;
}

ul li::before
{
	background: #666;
	content: ' ';
	height: 5px;
	left: 0;
	position: absolute;
	top: 8px;
	width: 5px;
}

ul ul
{
	margin: 0;
}

ol
{
	list-style: outside decimal;
}

ol li
{
	padding: 0;
}

.cnt ul,
.cnt p,
.cnt h2,
.cnt h3
{
	padding-left: 10px;
}

.cnt table
{
	margin: 20px 0 20px 10px;
}

.cnt ol
{
	margin: 10px 0 20px 25px;
	padding: 0 0 0 10px;
}

.links li
{
	margin: 5px 0;
	padding: 0;
}

.links li::before
{
	display: none;
}

.links li i
{
	margin: 0 5px 0 0;
	padding: 0;
}

img
{
	display: block;
	margin: 20px 0;
	max-width: 100%;
}

code
{
	background: #eee;
	border: 1px solid #e2e2e2;
	display: block;
	margin: 20px 0;
	overflow-wrap: break-word;
	padding: 20px 10px;
	text-align: left;
	white-space: pre-wrap;
}

table
{
	border-collapse: collapse;
}

table th,
table td
{
	border: 1px solid #ddd;
	font-size: 14px;
	padding: 7px 10px;
	text-align: left;
	vertical-align: top;
}

table th
{
	background: #f0f0f0;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	border-left: 1px solid #414141;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #353535;
	position: relative;
}

.jspDrag
{
	background: #555;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

.note
{
	background: #f6f6f6;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
	margin: 20px 0;
	padding: 10px 10px 10px 40px;
	position: relative;
}

.note::after
{
	border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    content: "i";
    font-family: Lucida Console;
    height: 20px;
    left: 10px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 20px;
}

#layout
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 100%;
}

.nav
{
	background: #434343;
	bottom: 0;
	left: 0;
	min-width: 300px;
	position: fixed;
	top: 0;
	width: 300px;
}

.scroll-pane
{
	height: calc(100% - 142px);
	position: relative;
}
	
	.nav .vc-logo,
	.nav .vc-logo a
	{
		color: #fff;
		font-size: 16px;
		padding: 20px 15px;
		text-decoration: none;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		-webkit-align-items: center;
				align-items: center;
	}

	.nav .vc-logo img
	{
		margin: 0 10px 0 0;
		width: 80px;
	}

	.nav .menu
	{
		margin: 0;
		padding: 20px 0;
	}

	.nav .menu-item
	{
		padding: 0;
	}

	.nav .menu-item::before
	{
		display: none;
	}

	.nav .menu-link
	{
		color: #bbb;
		display: block;
		font-size: 13px;
		padding: 8px 15px;
		text-decoration: none;
	}

	.nav .menu-link:hover
	{
		background: rgba(0,0,0,.1);
		color: #fff;
	}

	.nav .menu-item.active > .menu-link
	{
		background: #ea5564;
		color: #fff;
	}

	.menu.__sub
	{
		padding: 0;
	}

	.menu.__sub .menu-link
	{
		padding-left: 30px;
	}

	.menu.__sub .menu.__sub .menu-link
	{
		padding-left: 45px;
	}

	.menu.__sub .menu.__sub .menu.__sub .menu-link
	{
		padding-left: 60px;
	}

.cnt
{
	background: #fff;
	border-left: 5px solid rgba(0,0,0,.15);
	flex-grow: 1;
	max-width: 70%;
	margin: 0 0 0 300px;
	padding: 20px 40px;
}

.home
{
	height: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
			flex-direction: column;

	-webkit-justify-content: center;
			justify-content: center;

	-webkit-align-items: center;
			align-items: center;
}

.home .home-t
{
	font-size: 30px;
}

.home .menu
{
	list-style: none;
	margin: 30px 0;
	padding: 0;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.home .menu-item
{
	height: 300px;
	margin: 0 10px;
	padding: 0;
	width: 300px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.home .menu-link
{
	background: #fff;
	border: 2px solid #dee9f0;
	font-size: 30px;
	text-decoration: none;

	-webkit-transition: border .25s ease-in-out;
			transition: border .25s ease-in-out;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-justify-content: center;
			justify-content: center;

	-webkit-align-items: center;
			align-items: center;

	-webkit-flex-grow: 1;
			flex-grow: 1;
}

.home .menu-link:hover
{
	border-color: #a1c0d4;
}

.home .menu-item::before
{
	display: none;
}

@media (max-width: 767px) {
	#layout
	{
		flex-direction: column;
	}

	.nav
	{
		min-width: 100%;
	}
}