<div class="trending __responsive">
    <div class="trending-t">Trending articles</div>
    <div class="trending-list">
        {% for article in trending_articles limit: 3 %}
            {% include 'blog-list-item', article: article, style: "single" %}
        {% endfor %}
    </div>
</div>