<div class="trending __responsive">
    <div class="trending-t">Trending articles</div>
    <div class="trending-list">
        {% paginate blog.trending_articles by 3 %}
            {% for article in blog.trending_articles %}
                {% include 'blog-list-item', article: article, style: "single" %}
            {% endfor %}
        {% endpaginate %}
    </div>
</div>