{% if tags.size > 0 %}
    {% if position == "top" %}
        <div class="post-tags">
    {% endif %}
    <ul class="tags list">
        {% for tag in tags %}
            <li class="list-item">
                {% assign tag_url = '/blog/tag/' | append: tag  %}
                <a class="list-link" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if position == "top" %}
        </div>
    {% endif %}
{% endif %}