<div class="post post-single">
    <div class="post-inner">
        <div class="post-media categories">
            <div class="categories-t">Blog</div>
            <ul class="menu">
                {% paginate categories by 5 %}
                    {% for category in categories %}
                        <li class="menu-item">
                            {% assign category_handle = category | handleize %}
                            {% assign blog_url = '~/blogs/' | append: blog.handle  %}
                            {% assign category_url = '/blog/category/' | append: category %}
                            <a class="menu-link" href="{{ category_url | absolute_url }}">{{ "blogs.categories." | append: category | t }}</a>
                        </li>
                    {% endfor %}
                {% endpaginate %}
            </ul>
            <ul class="socials list">
                <li class="list-item fb">
                    <a class="list-link" href="https://www.facebook.com/sharer/sharer.php?u=https://virtocommerce-public-staging.azurewebsites.net/blog/new-features-in-virtocommerce" target="_blank"><i class="list-ico fa fa-facebook"></i></a>
                </li>
                <li class="list-item plus">
                    <a class="list-link" href="https://plus.google.com/share?url=https://virtocommerce-public-staging.azurewebsites.net/blog/new-features-in-virtocommerce" target="_blank"><i class="list-ico fa fa-google-plus"></i></a>
                </li>
                <li class="list-item tw">
                    <a class="list-link" href="https://twitter.com/intent/tweet?text=https://virtocommerce-public-staging.azurewebsites.net/blog/new-features-in-virtocommerce" target="_blank"><i class="list-ico fa fa-twitter"></i></a>
                </li>
                <li class="list-item in">
                    <a class="list-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://virtocommerce-public-staging.azurewebsites.net/blog/new-features-in-virtocommerce&amp;title=What’s in the works – New features coming up in the Virto Commerce platform&amp;summary=What’s in the works – New features coming up in the Virto Commerce platform.&amp;source=" target="_blank"><i class="list-ico fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>