<div class="post" ng-class="{ 'post-single': !article.isSticked, 'post-double': article.isSticked }" ng-repeat="article in articles">
    <div class="post-inner">
        <div class="post-media" ng-class="{ 'no-image': !article.imageUrl }" ng-style="{ 'background-image': 'url(' + article.imageUrl + ')' }">
            <div class="category-name" ng-if="article.category" ng-bind="article.category"></div>
            <h3><a ng-href="{% raw %}{{ article.url }}{% endraw %}" ng-bind="article.title"></a></h3>
        </div>
        <div class="post-descr" ng-if="article.excerpt" ng-bind="article.excerpt"></div>
        <div class="post-other">
            <div class="post-logo"><img ng-src="{% raw %}{{ article.authorImageUrl }}{% endraw %}" /></div>
            <div class="post-author">
                <div class="author" ng-bind="article.author"></div>
                <div class="date" ng-bind="article.createdDate | date: format: 'MMMM d, y'"></div>
            </div>
        </div>
    </div>
</div>