<div class="roadmap download-pdf">
    <div class="column width-full">
        <form name="formCaseStudy" novalidate>
            <div ng-init="setCaseStudyForm(formCaseStudy)"></div>
            <div class="control-group">
                <input id="Contact[Name]" tabindex="1" type="text" name="Contact[Name]" class="form-input" ng-model="caseStudy.name" required placeholder="Your name" />
            </div>
            <div class="control-group">
                <input id="Contact[Email]" tabindex="3" type="text" name="Contact[Email]" class="form-input" ng-pattern="emailPattern" ng-model="caseStudy.email" required placeholder="E-mail" />
            </div>
            <div class="control-group">
                <a class="button fill width-full text-14" type="submit" ng-disabled="formCaseStudy.$invalid" href="{{ downloadUrl }}" target="_blank">Download full case study</a>
            </div>
        </form>
    </div>
</div>