<ul class="menu">
    {% for p1 in docs_pages %}
        {% assign p1_url_parts = p1.url | split: '/' %}
        {% assign p1_trailed_url = p1.url | append: '/' %}
        {% assign p1_children = docs_pages | where: 'url', 'contains', p1_trailed_url | sort: 'priority' %}
        {% assign p1_child_with_current_url = p1_children | where: 'url', '==', page.url %}
        {% if p1_url_parts.size == 2 %}
            <li class="menu-item{% if p1.url == page.url %} active{% endif %}">
            {% include 'docs-menu-item', menu_item: p1, children: p1_children, active_children: p1_child_with_current_url %}
            {% if p1_children.size > 0 and p1_child_with_current_url.size > 0 or p1.url == page.url %}
                <ul class="menu __sub">
                {% for p2 in p1_children %}
                    {% assign p2_url_parts = p2.url | split: '/' %}
                    {% assign p2_trailed_url = p2.url | append: '/' %}
                    {% assign p2_children = p1_children | where: 'url', 'contains', p2_trailed_url | sort: 'priority' %}
                    {% assign p2_child_with_current_url = p2_children | where: 'url', '==', page.url %}
                    {% if p2_url_parts.size == 3 %}
                    <li class="menu-item{% if p2.url == page.url %} active{% endif %}">
                    {% include 'docs-menu-item', menu_item: p2, children: p2_children, active_children: p2_child_with_current_url %}
                    {% if p2_children.size > 0 and p2_child_with_current_url.size > 0 or p2.url == page.url %}
                        <ul class="menu __sub">
                        {% for p3 in p2_children %}
                            {% assign p3_url_parts = p3.url | split: '/' %}
                            {% assign p3_trailed_url = p3.url | append: '/' %}
                            {% assign p3_children = p2_children | where: 'url', 'contains', p3_trailed_url | sort: 'priority' %}
                            {% assign p3_child_with_current_url = p3_children | where: 'url', '==', page.url %}
                            {% if p3_url_parts.size == 4 %}
                            <li class="menu-item{% if p3.url == page.url %} active{% endif %}">
                                {% include 'docs-menu-item', menu_item: p3, children: p3_children, active_children: p3_child_with_current_url %}
                                {% if p3_children.size > 0 and p3_child_with_current_url.size > 0 or p3.url == page.url %}
                                    <ul class="menu __sub">
                                    {% for p4 in p3_children %}
                                        {% assign p4_url_parts = p4.url | split: '/' %}
                                        {% assign p4_trailed_url = p4.url | append: '/' %}
                                        {% assign p4_children = p3_children | where: 'url', 'contains', p4_trailed_url | sort: 'priority' %}
                                        {% assign p4_child_with_current_url = p4_children | where: 'url', '==', page.url %}
                                        {% if p4_url_parts.size == 5 %}
                                            <li class="menu-item{% if p4.url == page.url %} active{% endif %}">
                                                {% include 'docs-menu-item', menu_item: p4, children: p4_children, active_children: p4_child_with_current_url %}
                                                {% if p4_children.size > 0 and p4_child_with_current_url.size > 0 or p4.url == page.url %}
                                                <ul class="menu __sub">
                                                {% for p5 in p4_children %}
                                                    {% assign p5_url_parts = p5.url | split: '/' %}
                                                    {% assign p5_trailed_url = p5.url | append: '/' %}
                                                    {% assign p5_children = p4_children | where: 'url', 'contains', p5_trailed_url | sort: 'priority' %}
                                                    {% assign p5_child_with_current_url = p5_children | where: 'url', '==', page.url %}
                                                    {% if p5_url_parts.size == 6 %}
                                                    <li class="menu-item{% if p5.url == page.url %} active{% endif %}">
                                                        {% include 'docs-menu-item', menu_item: p5, children: p5_children, active_children: p5_child_with_current_url %}
                                                        {% if p5_children.size > 0 and p5_child_with_current_url.size > 0 or p5.url == page.url %}
                                                        <ul class="menu __sub">
                                                            {% for p6 in p5_children %}
                                                                {% assign p6_url_parts = p6.url | split: '/' %}
                                                                {% assign p6_trailed_url = p6.url | append: '/' %}
                                                                {% assign p6_children = p5_children | where: 'url', 'contains', p6_trailed_url | sort: 'priority' %}
                                                                {% assign p6_child_with_current_url = p6_children | where: 'url', '==', page.url %}
                                                                {% if p6_url_parts.size == 7 %}
                                                                <li class="menu-item{% if p6.url == page.url %} active{% endif %}">
                                                                    {% include 'docs-menu-item', menu_item: p6, children: p6_children, active_children: p6_child_with_current_url %}
                                                                </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                        {% endif %}
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>