<div class="scroll-pane">
	<ul class="menu">
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/introduction">Introduction</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/system-requirements">System Requirements</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/getting-started">Getting Started</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/development-scenarios">Development scenarios</a>
			<ul class="menu __sub">
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/release-management-process">Release Management Process</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/deployment-environments">Deployment Environments</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/developing-a-custom-solution">Developing a custom solution</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/how-to-generate-module-api-C-sharp-client">How to generate module API C# client</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/how-to-generate-module-api-C-sharp-client-using-autoRest">How to generate module API C# client using AutoRest</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/working-with-platform-api">Working with platform API</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/mobile-starter-kit-getting-started">Mobile Starter kit. Getting started</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/configuring-error-logging-and-notifications">Configuring error logging and notifications</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/process-of-custom-module-contributing">Process of custom module contributing</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/creating-module-packages">Creating module packages</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/deployment">Deployment</a>
			<ul class="menu __sub">
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/deploy-elasticsearch-to-dedicated-server">Deploy Elasticsearch to dedicated server</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/platform-settings">Platform settings</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/recommended-production-configuration-for-microsoft-azure">Recommended production configuration for Microsoft Azure</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/performance-diagnostics-and-monitoring">Performance Diagnostics and Monitoring</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" class="menu-link" href="docs/vc2devguide/platform-deployment">Platform deployment</a>
					<ul class="menu __sub">
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/deploy-from-github-to-microsoft-cloud-azure">Deploy from GitHub to Microsoft Cloud Azure</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/deploy-web-applications-to-dedicated-server">Deploy web applications to dedicated server</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/source-code-getting-started">Source Code Getting Started</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/storefront-deployment">Storefront deployment</a>
					<ul class="menu __sub">
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/storefront-source-code-getting-started">Storefront Source Code Getting Started</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/storefront-microsoft-azure-getting-started">Storefront Microsoft Azure Getting Started</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/working-with-platform-manager">Working with Platform Manager</a>
			<ul class="menu __sub">
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/basic-functions">Basic functions</a>
					<ul class="menu __sub">
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/background-jobs">Background jobs</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/blades-and-navigation">Blades and navigation</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/blade-toolbar">Blade toolbar</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/caching">Caching</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/platform-export-import">Platform Export & Import</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/push-notifications">Push notifications</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/storage-of-files">Storage of files</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/metaform">Metaform</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/widgets">Widgets</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/working-with-platform-security">Working with platform security</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/extending-functionality">Extending Functionality</a>
					<ul class="menu __sub">
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/creating-new-module">Creating new module</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/managing-module-database">Managing Module Database</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/managing-module-settings">Managing Module Settings</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/using-dynamic-properties">Using dynamic properties</a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/composing-dynamic-conditions">Composing dynamic conditions</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/style-guide">Style Guide</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/design-guidelines-and-naming-conventions">Design Guidelines and Naming Conventions</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/localization-implementation">Localization implementation</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/working-with-storefront">Working with Storefront</a>
			<ul class="menu __sub">
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/theme-development">Theme Development</a>
					<ul class="menu __sub">
						<li class="menu-item">
							<a class="menu-link" href="docs/vc2devguide/liquid-reference">Liquid Reference</a>
							<ul class="menu __sub">
								<li class="menu-item">
									<a class="menu-link" href="docs/vc2devguide/tags">Tags</a>
								</li>
								<li class="menu-item">
									<a class="menu-link" href="docs/vc2devguide/objects">Objects</a>
									<ul class="menu __sub">
										<li class="menu-item">
											<a class="menu-link" href="docs/vc2devguide/cart">cart</a>
										</li>
									</ul>
								</li>
								<li class="menu-item">
									<a class="menu-link" href="docs/vc2devguide/filters">Filters</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/pages-and-blogs">Pages and Blogs</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/storefront-seo-routing">Storefront SEO routing</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/orchard-cms-integration">Orchard CMS Integration</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/enabling-login-within-external-providers">Enabling login within external providers</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/how-to-localize-catalog-product-names-in-storefront">How to localize catalog product names in storefront</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/bundles">Bundles</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/extending-commerce">Extending commerce</a>
			<ul class="menu __sub">
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/creating-catalog-custom-import-export-extensions">Creating catalog custom import-export extensions</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/creating-new-payment-method">Creating new payment method</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/creating-new-shipping-method">Creating new shipping method</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/creating-new-tax-provider">Creating new tax provider</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/extending-members-domain-types">Extending Members domain types</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/extending-using-events">Extending using events</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/reporting">Reporting</a>
			<ul class="menu __sub">
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/microsoft-power-bi">Microsoft Power BI</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="docs/vc2devguide/tableau">Tableau</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/how-to-articles">How-to articles</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="docs/vc2devguide/api-reference">API Reference</a>
		</li>
	</ul>
</div>