{% assign current_node = docs_tree | where: 'id', '==', page.url | first %}
{% if current_node.parents.size > 0 %}
    <p class="breadcrumbs">
        {% for node_parent in current_node.parents %}
            {% assign p = docs_pages | where: 'url', '==', node_parent.id | first %}
            <a href="{{ p.url }}" ng-click="navigateUrl('{{ p.url }}', $event)">{{ p.title }}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        {% endfor %}
        {{ page.title }}
    </p>
{% endif %}