{% assign top_level_items = docs_tree | where: 'level', '==', '2' | sort: 'priority' %}
<ul class="menu items-tree">
    {% for item_1 in top_level_items %}
        <li class="menu-item{% if item_1.id == page.url %} active{% endif %}">
            {% assign item_1_children_with_current_url = item_1.children | where: 'id', '==', page.url %}
            {% include 'docs-menu-item', menu_item: item_1, active_children: item_1_children_with_current_url %}
            {% if item_1.children.size > 0 and item_1_children_with_current_url.size > 0 or item_1.id == page.url %}
                <ul class="menu __sub">
                    {% assign item_1_children = item_1.children | where: 'level', '==', '3' %}
                    {% for item_2 in item_1_children %}
                        <li class="menu-item{% if item_2.id == page.url %} active{% endif %}">
                            {% assign item_2_children_with_current_url = item_2.children | where: 'id', '==', page.url %}
                            {% include 'docs-menu-item', menu_item: item_2, active_children: item_2_children_with_current_url %}
                            {% if item_2.children.size > 0 and item_2_children_with_current_url.size > 0 or item_2.id == page.url %}
                                <ul class="menu __sub">
                                    {% assign item_2_children = item_2.children | where: 'level', '==', '4' %}
                                    {% for item_3 in item_2_children %}
                                        <li class="menu-item{% if item_3.id == page.url %} active{% endif %}">
                                            {% assign item_3_children_with_current_url = item_3.children | where: 'id', '==', page.url %}
                                            {% include 'docs-menu-item', menu_item: item_3, active_children: item_3_children_with_current_url %}
                                            {% if item_3.children.size > 0 and item_3_children_with_current_url.size > 0 or item_3.id == page.url %}
                                                <ul class="menu __sub">
                                                    {% assign item_3_children = item_3.children | where: 'level', '==', '5' %}
                                                    {% for item_4 in item_3_children %}
                                                        <li class="menu-item{% if item_4.id == page.url %} active{% endif %}">
                                                            {% assign item_4_children_with_current_url = item_4.children | where: 'id', '==', page.url %}
                                                            {% include 'docs-menu-item', menu_item: item_4, active_children: item_4_children_with_current_url %}
                                                            {% if item_4.children.size > 0 and item_4_children_with_current_url.size > 0 or item_4.id == page.url %}
                                                                <ul class="menu __sub">
                                                                    {% assign item_4_children = item_4.children | where: 'level', '==', '6' %}
                                                                    {% for item_5 in item_4_children %}
                                                                        <li class="menu-item{% if item_5.id == page.url %} active{% endif %}">
                                                                            {% assign item_5_children_with_current_url = item_5.children | where: 'id', '==', page.url %}
                                                                            {% include 'docs-menu-item', menu_item: item_5, active_children: item_5_children_with_current_url %}
                                                                            {% if item_5.children.size > 0 and item_5_children_with_current_url.size > 0 or item_5.id == page.url %}
                                                                                <ul class="menu __sub">
                                                                                    {% assign item_5_children = item_5.children | where: 'level', '==', '7' %}
                                                                                    {% for item_6 in item_5_children %}
                                                                                        <li class="menu-item{% if item_6.id == page.url %} active{% endif %}">
                                                                                            {% assign item_6_children_with_current_url = item_6.children | where: 'id', '==', page.url %}
                                                                                            {% include 'docs-menu-item', menu_item: item_6, active_children: item_6_children_with_current_url %}
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endif %}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% comment %}
<ul class="menu">
    {% for p1 in docs_pages %}
        {% assign p1_url_parts = p1.url | split: '/' %}
        {% assign p1_trailed_url = p1.url | append: '/' %}
        {% assign p1_children = docs_pages | where: 'url', 'contains', p1_trailed_url | sort: 'priority' %}
        {% assign p1_child_with_current_url = p1_children | where: 'url', '==', page.url %}
        {% if p1_url_parts.size == 2 %}
            <li class="menu-item{% if p1.url == page.url %} active{% endif %}">
            {% include 'docs-menu-item', menu_item: p1, children: p1_children, active_children: p1_child_with_current_url %}
            {% if p1_children.size > 0 and p1_child_with_current_url.size > 0 or p1.url == page.url %}
                <ul class="menu __sub">
                {% for p2 in p1_children %}
                    {% assign p2_url_parts = p2.url | split: '/' %}
                    {% assign p2_trailed_url = p2.url | append: '/' %}
                    {% assign p2_children = p1_children | where: 'url', 'contains', p2_trailed_url | sort: 'priority' %}
                    {% assign p2_child_with_current_url = p2_children | where: 'url', '==', page.url %}
                    {% if p2_url_parts.size == 3 %}
                    <li class="menu-item{% if p2.url == page.url %} active{% endif %}">
                    {% include 'docs-menu-item', menu_item: p2, children: p2_children, active_children: p2_child_with_current_url %}
                    {% if p2_children.size > 0 and p2_child_with_current_url.size > 0 or p2.url == page.url %}
                        <ul class="menu __sub">
                        {% for p3 in p2_children %}
                            {% assign p3_url_parts = p3.url | split: '/' %}
                            {% assign p3_trailed_url = p3.url | append: '/' %}
                            {% assign p3_children = p2_children | where: 'url', 'contains', p3_trailed_url | sort: 'priority' %}
                            {% assign p3_child_with_current_url = p3_children | where: 'url', '==', page.url %}
                            {% if p3_url_parts.size == 4 %}
                            <li class="menu-item{% if p3.url == page.url %} active{% endif %}">
                                {% include 'docs-menu-item', menu_item: p3, children: p3_children, active_children: p3_child_with_current_url %}
                                {% if p3_children.size > 0 and p3_child_with_current_url.size > 0 or p3.url == page.url %}
                                    <ul class="menu __sub">
                                    {% for p4 in p3_children %}
                                        {% assign p4_url_parts = p4.url | split: '/' %}
                                        {% assign p4_trailed_url = p4.url | append: '/' %}
                                        {% assign p4_children = p3_children | where: 'url', 'contains', p4_trailed_url | sort: 'priority' %}
                                        {% assign p4_child_with_current_url = p4_children | where: 'url', '==', page.url %}
                                        {% if p4_url_parts.size == 5 %}
                                            <li class="menu-item{% if p4.url == page.url %} active{% endif %}">
                                                {% include 'docs-menu-item', menu_item: p4, children: p4_children, active_children: p4_child_with_current_url %}
                                                {% if p4_children.size > 0 and p4_child_with_current_url.size > 0 or p4.url == page.url %}
                                                <ul class="menu __sub">
                                                {% for p5 in p4_children %}
                                                    {% assign p5_url_parts = p5.url | split: '/' %}
                                                    {% assign p5_trailed_url = p5.url | append: '/' %}
                                                    {% assign p5_children = p4_children | where: 'url', 'contains', p5_trailed_url | sort: 'priority' %}
                                                    {% assign p5_child_with_current_url = p5_children | where: 'url', '==', page.url %}
                                                    {% if p5_url_parts.size == 6 %}
                                                    <li class="menu-item{% if p5.url == page.url %} active{% endif %}">
                                                        {% include 'docs-menu-item', menu_item: p5, children: p5_children, active_children: p5_child_with_current_url %}
                                                        {% if p5_children.size > 0 and p5_child_with_current_url.size > 0 or p5.url == page.url %}
                                                        <ul class="menu __sub">
                                                            {% for p6 in p5_children %}
                                                                {% assign p6_url_parts = p6.url | split: '/' %}
                                                                {% assign p6_trailed_url = p6.url | append: '/' %}
                                                                {% assign p6_children = p5_children | where: 'url', 'contains', p6_trailed_url | sort: 'priority' %}
                                                                {% assign p6_child_with_current_url = p6_children | where: 'url', '==', page.url %}
                                                                {% if p6_url_parts.size == 7 %}
                                                                <li class="menu-item{% if p6.url == page.url %} active{% endif %}">
                                                                    {% include 'docs-menu-item', menu_item: p6, children: p6_children, active_children: p6_child_with_current_url %}
                                                                </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                        {% endif %}
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endcomment %}