{% assign page_url_parts = page.url | split: '/' %}
{% if page_url_parts.size > 1 %}
    <p class="breadcrumbs">
        {% assign parent_url = '' %}
        {% for page_url_part in page_url_parts %}
            {% if forloop.index < page_url_parts.size %}
                {% assign parent_url = parent_url | append: '/' | append: page_url_part %}
                {% assign trimmed_parent_url = parent_url | remove_first: '/' %}
                {% assign parent_page = docs_pages | where: 'url', '==', trimmed_parent_url | first %}
                <a href="{{ parent_page.url }}" ng-click="navigateUrl('{{ parent_page.url }}', $event)">{{ parent_page.title }}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            {% endif %}
        {% endfor %}
        {{ page.title }}
    </p>
{% endif %}