<script id="storefront.form-thank-you.tpl" type="text/ng-template">
    <div class="overlay">
        <div class="overlay-cnt">
            <div class="popup">
                <a class="popup-close" ng-click="closeModal()"></a>
                <div class="popup-head">{{ 'apps.forms.thank_you' | t }}</div>
                <div style="padding: 20px;">
                    <a class="btn __yellow __mini __round __ucase" ng-click="closeModal()">{{ 'apps.forms.close' | t }}</a>
                </div>
            </div>
        </div>
    </div>
</script>