<div class="cookie-bar show" ng-if="isShowCookiesInformer" ng-cloak>
    <div class="cookie-inner __responsive">
        <div class="cookie-col">
            We use cookies to provide best web experience for our users. By continuing to browse this site, you agree to this use. Read more from our <a href="/privacy">Privacy Policy</a>.<br>
        </div>
        <div class="cookie-col">
            <button class="button fill" ng-click="acceptCookiesInformer()">Accept</button>
        </div>
    </div>
</div>