<div class="business-menu">
    <ul class="menu __business-features">
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/what-is-b2c-ecommerce">What is B2C</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/what-is-b2b">What is B2B ecommerce</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/b2b-ecommerce-companies-websites">B2B ecommerce companies and websites</a>
        </li>
        <li class="menu-item __promo">
            <a class="menu-link" href="glossary/b2b-ecommerce-trends">B2B eCommerce trends</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/best-ecommerce-platforms">Best Ecommerce platforms</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/hosted-shopping-cart">Hosted shopping cart</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/agile-software-platform">Agile Platform</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/b2c-ecommerce-b2b2c">B2B2C eCommerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/saas-ecommerce">SAAS e-commerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/epcm-process-software">E procurement software systems</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/punchout-catalog">Punchout catalog</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/cloud-ecommerce">Сloud ecommerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/magento-alternative">Magento alternative</a>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/shopify-alternatives">Shopify Alternatives</a>
        </li>
        </li>
    </ul>
</div>
