<div class="business-menu">
    <ul class="menu __business-features">
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/what-is-b2c-ecommerce">What is B2C</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/what-is-b2b-ecommerce">What is B2B ecommerce</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/b2b-ecommerce-companies-websites">B2B ecommerce companies and websites</a>
        </li>
        <li class="menu-item __promo">
            <a class="menu-link" href="glossary/b2b-ecommerce-trends">B2B eCommerce trends</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/best-ecommerce-platforms">Best Ecommerce platforms</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/hosted-shopping-cart">Hosted shopping cart</a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/agile-software-platform">Agile Platform</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/b2c-ecommerce-b2b2c">B2B2C eCommerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/saas-ecommerce">SAAS e-commerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/epcm-process-software">E procurement software systems</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/punchout-catalog">Punchout catalog</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/cloud-ecommerce-solution">Сloud ecommerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/magento-alternatives">Magento alternatives</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/shopify-alternatives">Shopify Alternatives</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/nopcommerce-alternative">NopCommerce alternative</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/what-is-sku">What is an SKU?</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/what-is-a-dead-stock">What is a dead stock?</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/what-is-backorder">What is a backorder?</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/how-to-calculate-safety-stock">How to calculate safety stock?</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/what-is-inventory-management">What is inventory management?</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/znode-alternatives">Znode alternatives</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/3dcart-alternatives">3dCart alternatives</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/demandware-alternatives">Demandware alternatives</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/episerver-alternatives">Episerver alternatives</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/elastic-path-alternatives">Elastic Path Alternatives</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/purchase-order-management-software">Purchase Order Management Software</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/product-recommendation-engine">Product recommendation engine</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/order-processing-software">Order Processing Software</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/request-for-proposal">Request for proposal (RFS)</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/request-for-quotation">Request for quotation (RFQ)</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/purchase-order-request-form">Purchase Order Request Form</a>
            </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/request-for-information">Request for Information (RFI)</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/conversational-commerce">Key Components of Conversational Commerce</a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/thing-commerce">Thing Commerce</a>
        </li>
        {% include 'vc-vertical-banners' %}
    </ul>
</div>
