<div class="business-menu">
    <ul class="menu __business-features">
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/what-is-b2c-ecommerce">
                What is B2C 
            </a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/what-is-b2b">
                What is B2B
            </a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/b2b-ecommerce-companies-websites">
                B2B ecommerce companies and websites
            </a>
        </li>
        <li class="menu-item __promo">
            <a class="menu-link" href="glossary/b2b-ecommerce-trends">
                B2B eCommerce trends
            </a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/ecommerce-platforms">
                Ecommerce platforms
            </a>
        </li>
        <li class="menu-item __cart">
            <a class="menu-link" href="glossary/hosted-shopping-cart">
                Hosted Shopping Cart
            </a>
        </li>
        <!--<li class="menu-item __multi">
            <a class="menu-link" href="glossary/a-b-testing">
                A/B Testing
            </a>
        </li>
        <li class="menu-item __search">
            <a class="menu-link" href="glossary/breadcrumbs-navigation">
                Breadcrumbs Navigation
            </a>
        </li>
        <li class="menu-item __order">
            <a class="menu-link" href="glossary/marketplace-omnichannel-software">
                Marketplace software
            </a>
        </li>
        <li class="menu-item __customer">
            <a class="menu-link" href="glossary/customer-portal-self-service">
                Customer Portal
            </a>
        </li>-->
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/b2c-ecommerce-b2b2c">
                B2B2C eCommerce
            </a>
        </li>
        <!--<li class="menu-item __features">
            <a class="menu-link" href="glossary/angularjs-ecommerce-ionic">
                Angularjs ecommerce
            </a>
        </li>
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/ios-ecommerce">
                iOS ecommerce
            </a>
        </li>-->
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/saas-ecommerce">
                SAAS e-commerce
            </a>
        </li>
        <!--<li class="menu-item __features">
            <a class="menu-link" href="glossary/epcm-process-software">
                What is e-procurement?
            </a>
        </li>-->
        <li class="menu-item __features">
            <a class="menu-link" href="glossary/cloud-ecommerce">
                Сloud e-commerce
            </a>
        </li>
    </ul>
</div>