<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img itemprop="url image" src="https://virtocommerce.com/themes/assets/logo.jpg" style="display:none;" />
        <meta itemprop="width" content="150">
        <meta itemprop="height" content="56">
    </div>
    <meta itemprop="name" content="virtocommerce.com">
    <meta itemprop="telephone" content="+18009805288">
    <meta itemprop="address" content="20945 Devonshire St Suite 102 Los Angeles, California 91311">
</div>