<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="bestRating" content="{{ bestRating }}">
    <meta itemprop="ratingValue" content="{{ ratingValue }}">
    <meta itemprop="ratingCount" content="{{ ratingCount }}">
</div>