<section class="technologies" data-name="section" style="background: #fff;">
    <div class="section-inner responsive">
        <div class="section-t">ENTERPRISE ECOMMERCE PLATFORM BUILT USING CUTTING-EDGE WEB TECHNOLOGIES</div>
        <div class="section-cnt">
            <ul class="list">
                <li class="list-item">
                    <img src="/assets/images/technologies/azure.jpg" alt="azure" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/elastic.png" alt="elastic" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/net.png" alt="net" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/css-html.png" alt="css" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/jq-boots.png" alt="jq" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/angular.png" alt="angular" class="list-pic">
                </li>
            </ul>
        </div>
    </div>
</section>