<p>
    <a href="/b2b-ecommerce-platform" onClick="ga('send', 'event', { eventCategory: 'b2b-ecommerce-platform_redirect', eventAction: 'horizontal-b2b_b2c-banner_click', eventLabel: 'b2b-ecommerce'});">
        <img src="assets/images/vc-b2b_b2c-horizontal-banner.jpg" />
    </a>
</p>