<rules>
    <rule name="Redirect Blogs to Blog" stopProcessing="true">
        <match url="^blogs/news/(.+)" />
        <conditions trackAllCaptures="true" />
        <action type="Redirect" url="blog/{R:1}" />
    </rule>
    <rule name="CanonicalHostNameRule1">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.staging\.virtocommerce\.com$" negate="true" />
        </conditions>
        <action type="Redirect" url="http://staging.virtocommerce.com/{R:1}" />
    </rule>
    <!--<rule name="Redirect www.virtocommerce.com to virtocommerce.com" stopProcessing="true">
        <match url="^(.*)$" />
        <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
        </conditions>
        <action type="Redirect" url="https://{C:2}" redirectType="Permanent" />
    </rule>-->
</rules>