<rules>
    <rule name="Redirect Blogs to Blog" stopProcessing="true">
        <match url="^blogs/news/(.+)" />
        <conditions trackAllCaptures="true" />
        <action type="Redirect" url="blog/{R:1}" />
    </rule>
    <rule name="Redirect ecommerce-hosting to glossary/ecommerce-hosting" stopProcessing="true">
        <match url="^ecommerce-hosting" />
        <conditions trackAllCaptures="true" />
        <action type="Redirect" url="glossary/ecommerce-hosting" />
    </rule>
</rules>