<rules>
    <rule name="Redirect Blogs to Blog" stopProcessing="true">
        <match url="^blogs/news/(.+)" />
        <conditions trackAllCaptures="true" />
        <action type="Redirect" url="blog/{R:1}" />
    </rule>
    <rule name="Redirect www.virtocommerce.com to virtocommerce.com" patternSyntax="Wildcard" stopProcessing="true"> 
        <match url="*" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="www.virtocommerce-public-staging.azurewebsites.net" />
        </conditions>
        <action type="Redirect" url="https://virtocommerce-public-staging.azurewebsites.net/{R:0}" />
    </rule>
</rules>