<rewriteMaps>
    <rewriteMap name="VC-redirects">
        <add key="https://virtocommerce.com/platform/styleguide" value="docs/vc2devguide/working-with-platform-manager/style-guide" />
        <add key="https://virtocommerce.com/docs/vc113userguide/dashboard" value="docs/old-versions/vc113userguide/dashboard" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/creating-editing-and-deleting-a-catalog" value="docs/old-versions/vc111userguide-jp/merchandise-management/creating-editing-and-deleting-a-catalog" />
        <add key="https://virtocommerce.com/docs/vc113userguide/settings/settings-tab" value="docs/old-versions/vc113userguide/settings/settings-tab" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings" value="docs/old-versions/vc111userguide-jp/settings" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/customer-service/editing-customer-details" value="docs/old-versions/vc111userguide-jp/customer-service/editing-customer-details" />
        <add key="https://virtocommerce.com/docs/vc113devguide/architecture/extending-and-using-logging-system" value="docs/old-versions/vc113devguide/architecture/extending-and-using-logging-system" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings/search-settings" value="docs/old-versions/vc111userguide-jp/settings/search-settings" />
        <add key="https://virtocommerce.com/docs/vc113devguide/working-with-import" value="docs/old-versions/vc113devguide/working-with-import" />
        <add key="https://virtocommerce.com/docs/vc113devguide/working-with-orders" value="docs/old-versions/vc113devguide/working-with-orders" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings/shipping" value="docs/old-versions/vc111userguide-jp/settings/shipping" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/price-lists/creating-and-deleting-a-price-list" value="docs/old-versions/vc111userguide-jp/price-lists/creating-and-deleting-a-price-list" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings/settings-tab" value="docs/old-versions/vc111userguide-jp/settings/settings-tab" />
        <add key="https://virtocommerce.com/docs/vc113userguide/order-management/order-details/releasing-shipment" value="docs/old-versions/vc113userguide/order-management/order-details/releasing-shipment" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/order-management/viewing-order" value="docs/old-versions/vc111userguide-jp/order-management/viewing-order" />
        <add key="https://virtocommerce.com/docs/vc113userguide/merchandise-management/items/creating-editing-deleting-a-bundle" value="docs/old-versions/vc113userguide/merchandise-management/items/creating-editing-deleting-a-bundle" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/order-management/order-details/canceling-shipment" value="docs/old-versions/vc111userguide-jp/order-management/order-details/canceling-shipment" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/content-publishing/duplicate-content-publishing-group" value="docs/old-versions/vc111userguide-jp/marketing/content-publishing/duplicate-content-publishing-group" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/import/create-import-job" value="docs/old-versions/vc111userguide-jp/merchandise-management/import/create-import-job" />
        <add key="https://virtocommerce.com/docs/vc113userguide/customer-service/editing-case-details" value="docs/old-versions/vc113userguide/customer-service/editing-case-details" />
        <add key="https://virtocommerce.com/docs/vc113userguide/settings/payments" value="docs/old-versions/vc113userguide/settings/payments" />
        <add key="https://virtocommerce.com/docs/vc113userguide/settings/shipping" value="docs/old-versions/vc113userguide/settings/shipping" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/items/creating-product-associations" value="docs/old-versions/vc111userguide-jp/merchandise-management/items/creating-product-associations" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/items/creating-editing-deleting-a-dynamic-kit" value="docs/old-versions/vc111userguide-jp/merchandise-management/items/creating-editing-deleting-a-dynamic-kit" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/content-publishing/create-content-publishing-group" value="docs/old-versions/vc111userguide-jp/marketing/content-publishing/create-content-publishing-group" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/content-publishing/filtering-content-publishing-groups" value="docs/old-versions/vc111userguide-jp/marketing/content-publishing/filtering-content-publishing-groups" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/categories/creating-a-category" value="docs/old-versions/vc111userguide-jp/merchandise-management/categories/creating-a-category" />
        <add key="https://virtocommerce.com/docs/vc113userguide/getting-started/creating-new-store-from-empty-database" value="docs/old-versions/vc113userguide/getting-started/creating-new-store-from-empty-database" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/customer-service/viewing-cases" value="docs/old-versions/vc111userguide-jp/customer-service/viewing-cases" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/dynamic-content/registering-content-places" value="docs/old-versions/vc111userguide-jp/marketing/dynamic-content/registering-content-places" />
        <add key="https://virtocommerce.com/docs/vc113userguide/dashboard/customizing-the-dashboard" value="docs/old-versions/vc113userguide/dashboard/customizing-the-dashboard" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/what-is-commerce-manager/system-requirements" value="docs/old-versions/vc111userguide-jp/what-is-commerce-manager/system-requirements" />
        <add key="https://virtocommerce.com/docs/vc113devguide/working-with-catalog-system" value="docs/old-versions/vc113devguide/working-with-catalog-system" />
        <add key="https://virtocommerce.com/docs/vc113userguide/customer-service/viewing-cases" value="docs/old-versions/vc113userguide/customer-service/viewing-cases" />
        <add key="https://virtocommerce.com/appstore" value="apps" />
        <add key="https://virtocommerce.com/blog/blog" value="blog" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/users-management-roles-and-role-assignment/available-permissions" value="docs/old-versions/vc111userguide-jp/users-management-roles-and-role-assignment/available-permissions" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/import/importing-categories-price-lists-and-products" value="docs/old-versions/vc111userguide-jp/merchandise-management/import/importing-categories-price-lists-and-products" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings/stores" value="docs/old-versions/vc111userguide-jp/settings/stores" />
        <add key="https://virtocommerce.com/docs/vc113userguide/merchandise-management/items" value="docs/old-versions/vc113userguide/merchandise-management/items" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/order-management/order-details/adding-editing-and-removing-items-in-the-shipment" value="docs/old-versions/vc111userguide-jp/order-management/order-details/adding-editing-and-removing-items-in-the-shipment" />
        <add key="https://virtocommerce.com/docs/vc113userguide/merchandise-management/categories/creating-a-category" value="docs/old-versions/vc113userguide/merchandise-management/categories/creating-a-category" />
        <add key="https://virtocommerce.com/docs/vc113userguide/marketing/content-publishing/editing-content-publishing" value="docs/old-versions/vc113userguide/marketing/content-publishing/editing-content-publishing" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/content-publishing/remove-dynamic-content-publishing" value="docs/old-versions/vc111userguide-jp/marketing/content-publishing/remove-dynamic-content-publishing" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/price-lists/creating-price-list-assignments" value="docs/old-versions/vc111userguide-jp/price-lists/creating-price-list-assignments" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/categories/deleting-a-category" value="docs/old-versions/vc111userguide-jp/merchandise-management/categories/deleting-a-category" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/import/running-import-job" value="docs/old-versions/vc111userguide-jp/merchandise-management/import/running-import-job" />
        <add key="https://virtocommerce.com/docs/vc113devguide/working-with-fulfillment/fulfillment-lifecycle" value="docs/old-versions/vc113devguide/working-with-fulfillment/fulfillment-lifecycle" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/content-publishing/editing-content-publishing-group" value="docs/old-versions/vc111userguide-jp/marketing/content-publishing/editing-content-publishing-group" />
        <add key="https://virtocommerce.com/docs/vc113devguide/working-with-orders/returns-lifecycle" value="docs/old-versions/vc113devguide/working-with-orders/returns-lifecycle" />
        <add key="https://virtocommerce.com/docs/vc113userguide/merchandise-management/import/running-import-job" value="docs/old-versions/vc113userguide/merchandise-management/import/running-import-job" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/price-lists/searching-for-a-price-list" value="docs/old-versions/vc111userguide-jp/price-lists/searching-for-a-price-list" />
        <add key="https://virtocommerce.com/docs/vc113userguide/order-management/searching-for-an-order" value="docs/old-versions/vc113userguide/order-management/searching-for-an-order" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/customer-service/editing-case-details" value="docs/old-versions/vc111userguide-jp/customer-service/editing-case-details" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/dashboard/customizing-the-dashboard" value="docs/old-versions/vc111userguide-jp/dashboard/customizing-the-dashboard" />
        <add key="https://virtocommerce.com/docs/vc113userguide/price-lists/creating-and-deleting-a-price-list" value="docs/old-versions/vc113userguide/price-lists/creating-and-deleting-a-price-list" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/merchandise-management/items/creating-editing-deleting-a-bundle" value="docs/old-versions/vc111userguide-jp/merchandise-management/items/creating-editing-deleting-a-bundle" />
        <add key="https://virtocommerce.com/blog/architecture" value="blog/tag/architecture" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/introduction-to-virto-commerce" value="docs/old-versions/vc111userguide-jp/introduction-to-virto-commerce" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings/taxes" value="docs/old-versions/vc111userguide-jp/settings/taxes" />
        <add key="https://virtocommerce.com/docs/vc113userguide/order-management/return-exchange" value="docs/old-versions/vc113userguide/order-management/return-exchange" />
        <add key="https://virtocommerce.com/docs/vc113userguide/reporting" value="docs/old-versions/vc113userguide/reporting" />
        <add key="https://virtocommerce.com/docs/vc113devguide/architecture/web-applications/seo" value="docs/old-versions/vc113devguide/architecture/web-applications/seo" />
        <add key="https://virtocommerce.com/docs/vc113userguide/order-management" value="docs/old-versions/vc113userguide/order-management" />
        <add key="https://virtocommerce.com/docs/vc113userguide/price-lists/creating-price-list-assignments" value="docs/old-versions/vc113userguide/price-lists/creating-price-list-assignments" />
        <add key="https://virtocommerce.com/docs/vc113userguide/merchandise-management/items/creating-editing-deleting-a-dynamic-kit" value="docs/old-versions/vc113userguide/merchandise-management/items/creating-editing-deleting-a-dynamic-kit" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/marketing/content-publishing" value="docs/old-versions/vc111userguide-jp/marketing/content-publishing" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/settings/customer-profile-attributes" value="docs/old-versions/vc111userguide-jp/settings/customer-profile-attributes" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/dashboard" value="docs/old-versions/vc111userguide-jp/dashboard" />
        <add key="https://virtocommerce.com/docs/vc111userguide-jp/price-lists/adding-editing-removing-prices" value="docs/old-versions/vc111userguide-jp/price-lists/adding-editing-removing-prices" />
        <add key="https://virtocommerce.com/docs/vc113userguide/fulfillment/returns-exchanges" value="docs/old-versions/vc113userguide/fulfillment/returns-exchanges" />
        <add key="https://virtocommerce.com/docs/vc113devguide/working-with-reporting-system" value="docs/old-versions/vc113devguide/working-with-reporting-system" />
        <add key="https://virtocommerce.com/docs/vc113userguide/settings/stores" value="docs/old-versions/vc113userguide/settings/stores" />
        <add key="https://virtocommerce.com/docs/vc2devguide/development-scenarios/configuring-err" value="docs/vc2devguide/development-scenarios/configuring-error-logging-and-notifications" />
        <add key="https://virtocommerce.com/docs/vc113userguide/settings/application-settings" value="docs/old-versions/vc113userguide/settings/application-settings" />
        <add key="https://virtocommerce.com/Files/Kitmall-case-study.pdf" value="assets/files/kitmall-case-study.pdf" />
        <add key="https://virtocommerce.com/features" value="features/for-business-professionals" />
        <add key="https://virtocommerce.com/sitemap-index.xml" value="sitemap/sitemap-index.xml" />
        <add key="https://virtocommerce.com/sitemap.xml.gz" value="sitemap/sitemap.xml.gz" />
        <add key="https://virtocommerce.com/sitemap-index.xml.gz" value="sitemap/sitemap-index.xml.gz" />
        <add key="https://virtocommerce.com/Us" value="https://virtocommerce.com/about-us" />
    </rewriteMap>
</rewriteMaps> 
